<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ... rest of your head content ... -->
    <style nonce="<%= nonce %>">
        /* Your inline styles here */
    </style>
</head>
<body>
    <!-- ... your body content ... -->
    <script nonce="<%= nonce %>" src="/js/login.js"></script>
</body>
</html>
